.employ-content {
  border-radius: 5px;
  background: #ffffff;
  padding: 20px 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 11rem));
  gap: 15px;

  .employ-box {
    width: 100%;
    height: 30vh;
    border-radius: 5px;
    border: 0.8px solid #dadada;
    padding-bottom: 10px;
    cursor: pointer;

    .employ-top {
      width: 100%;
      height: 40%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0px 0px;
      }
    }

    .employ-middle {
      padding: 10px 5px;
      span {
        font-size: 0.7rem;
      }

      .employ-info {
        margin-top: 15px;
        gap: 10px;
        h1 {
          font-size: 1.1rem;
          margin-bottom: 4px;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }

    .employ-bottom {
      float: right;
      color: #1b1c3a;
      font-size: 0.6rem;
      padding: 0 5px;
    }
  }
}
