.study-container,
.trade-container {
  width: 100%;
  .study-detail-container {
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.9px solid #9b9b9b;
      padding-bottom: 15px;

      p {
        color: #5e5e5e;
        font-weight: 600;
        font-size: 0.8rem;
        margin-top: 5px;

        span {
          font-weight: 500;
        }
      }

      .recruiting {
        border-radius: 15px;
        background: #1b1c3a;
        color: #ffffff;
        font-weight: 600;
        font-size: 1rem;
        padding: 5px 15px;
      }

      .completed {
        @extend .recruiting;
        background: #cccccc;
      }
    }

    .middle {
      margin: 40px 0;
      font-size: 0.9rem;
    }

    .study-bottom {
      display: flex;
    }
  }

  .study-detail-comment,
  .trade-detail-comment {
    width: 100%;
    h1 {
      margin: 40px 0;
    }
    form {
      display: flex;
      gap: 10px;
      width: 100%;
      height: 6vh;
      div {
        width: 100%;
        border: 1px solid #1b1c3a;
        background: #ffffff;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        input {
          width: 90%;
          color: #9b9b9b;
          padding: 0 0 0 10px;
          &::placeholder {
            color: #9b9b9b;
          }
        }
      }
      button {
        padding: 0;
      }
    }
  }

  .comment-container {
    width: 100%;
    border: 1px solid #1b1c3a;
    border-radius: 5px;
    margin: 30px 0;

    .parent-comment {
      width: 100%;
      padding: 20px;
      .info {
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 0.9px solid #9b9b9b;
        padding-bottom: 20px;
        margin-bottom: 20px;

        p,
        span {
          color: #5e5e5e;
          font-size: 0.9rem;
          font-weight: 700;
        }

        span {
          font-weight: 500;
        }
      }
      .comment {
        color: #5e5e5e;
        font-size: 0.9rem;

        div {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 5px;
          margin-top: 20px;
          cursor: pointer;
          span {
            color: #44b0ff;
            font-weight: 700;
            font-size: 0.8rem;
          }
        }
      }
    }

    .reply-comment-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      background: #f5f5f5;
      border-radius: 0 0 5px 5px;

      form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;
        border-radius: 5px;
        padding-right: 10px;
        input {
          width: 100%;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .reply-comment-container.has-comments {
        padding: 0 20px 20px 20px;
        .reply-container {
          margin: 15px;
          .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
              display: flex;
              align-items: center;
              font-size: 0.9rem;
              color: #5e5e5e;
              font-weight: 550;
              gap: 5px;
            }
            span {
              font-size: 0.8rem;
              color: #9b9b9b;
            }
          }
          .comment {
            font-size: 0.9rem;
            margin-top: 5px;
            padding-left: 40px;
            color: #5e5e5e;
          }
        }
      }
    }
  }
}
