.header {
  width: 100%;
  min-width: 1024px;
  height: 5rem;
  border-bottom: 1px solid #d0d0d0;
  background: #1b1c3a;
  padding: 0 20px;
  display: flex;
  align-items: center;

  .header-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .header-left {
      display: flex;
      gap: 10px;

      .header-name {
        p {
          &:nth-child(1) {
            color: #fff;
            font-size: 1.5rem;
            font-weight: 700;
          }

          &:nth-child(2) {
            color: #ffffff;
            font-size: 0.75rem;
            font-weight: 700;
          }
        }
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 10px;
      .header-search {
        width: 22rem;
        border-radius: 5px;
        background: #f3f3f3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;

        &::placeholder {
          color: #a8a8a8;
          font-size: 0.625rem;
          font-weight: 600;
        }
      }

      .header-login {
        button {
          border-radius: 5px;
          font-weight: 600;
          padding: 5px 10px;
          font-size: 1rem;

          &:nth-child(1) {
            border: 1px solid #fff;
            color: #ffffff;
            margin-right: 10px;
          }
          &:nth-child(2) {
            background: #fff;
            color: #1b1c3a;
          }
        }
      }
    }
  }
}
